<html>
  <head>
    <title>Roll Tide</title>
    <style type="text/css">
      h2 {
        color: #336699;
      }
    </style>
  </head>
  <body>
    <%= link_to(image_tag('facespace.png'), root_url) %>
    <%= yield %>
    <p>
    Your friends,<br> 
    The FaceSpace Team
    </p>
    <p>Sent by FaceSpace.co.jp.uk.es 2014 &copy;</p>
  </body>
</html>